html{
  margin: 0;
  padding: 0;
  list-style: none;
  text-decoration: none;
  body {
    margin: 0;
    padding: 0;
    list-style: none;
    text-decoration: none;
    
    #root{
    display: flex;
    height: 100vh;
    justify-content: center;
    align-items: center;
    background-color: rgb(63, 62, 62);
    color: white;
    }
  }
}